
.DS_Store
lichess_bot_refactored/.DS_Store
lichess_bot_refactored/lib/.DS_Store
lichess_bot_refactored/a.out
lichess_bot_refactored/a.out.dSYM/Contents/Info.plist
lichess_bot_refactored/a.out.dSYM/Contents/Resources/DWARF/a.out
__pycache__/ChessEngine.cpython-310.pyc
*.pyc
cmake-build-debug/.cmake/api/v1/query/cache-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.22.3/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeError.log
cmake-build-debug/CMakeFiles/CMakeOutput.log
CMakeLists.txt
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/Chess.iml
lichess_bot_refactored/.idea/lichess_bot_refactored.iml
lichess_bot_refactored/.idea/modules.xml
lichess_bot_refactored/.idea/vcs.xml
lichess_bot_refactored/.idea/workspace.xml
lichess_bot_refactored/.vscode/c_cpp_properties.json
lichess_bot_refactored/.vscode/settings.json
